body {
    margin: 0;
    cursor: default;
    font-family: Consolas, monospace, serif;
    background: #DDDDDD;
}

header {
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    background: #424242;
    box-shadow: 0px 3px 10px #777;
    color: #eee;
}

.header {
    margin: 0;
    line-height: 50px;
}

.header-small {
    color: #999;
}

.bottom-spacer {
    margin-bottom: 5px;
}

.bottom-spacer:last-child {
    margin-bottom: 0px;
}

.panel, .well {
    margin-bottom: 0;
}

.panel-heading {
    padding: 0;
}

.well {
    padding: 15px;
}

.spacer {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 10px 0 10px 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-margin {
    margin: 0;
}


.nav > li {
    margin-right: 3em;
}

.upgrade-holder {
    border: 1px solid black;
}

.ident{
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.dot-off {
    background-color: #bbb;
}

.dot-on {
    background-color: #fffd00;
}

#ressources-well{
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#ressources-display{
    font-size: 93%;
}