<div class="well">
    <div class="container-fluid">
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                <a type="button" class="btn btn-info btn-block" onclick="save.saveData();">Save data</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-warning btn-block" onclick="save.removeData();">Remove data</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-info btn-block" onclick="save.loadData();">Load data</a>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-12"></div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-12">
                <h4 class="text-center">
                    <b id="intervalText">The game autosaves every 10 seconds.</b>
                </h4>
            </div>
            <div class="col-md-12"><label for="saveIntervalSlider"></label><input type="range" class="custom-range"
                                                                                  min="10" max="60"
                                                                                  id="saveIntervalSlider"
                                                                                  onchange="save.saveData();"
                                                                                  oninput="game.changeSaveInterval()">
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-4"><b id="holdText">Click every 1/10sec</b>
            </div>
            <div class="col-md-8"><label for="holdIntervalSlider"></label><input type="range" class="custom-range"
                                                                                 min="10" max="100"
                                                                                 id="holdIntervalSlider"
                                                                                 onchange=""
                                                                                 oninput="game.changeHoldInterval()">
            </div>
        </div>
        
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                Temperature
            </div>
            <form name="temperature" class="col-md-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="temperatureRadios" id="temperatureRadio_C"
                           value="C" onchange="game.changeOption(this, 'temperature');"
                           checked>
                    <label class="form-check-label" for="temperatureRadio_C">
                        Celsius
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="temperatureRadios"  id="temperatureRadio_F"
                           value="F" onchange="game.changeOption(this, 'temperature');">
                    <label class="form-check-label" for="temperatureRadio_F">
                        Fahrenheit
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="temperatureRadios" id="temperatureRadio_K"
                           value="K" onchange="game.changeOption(this, 'temperature');">
                    <label class="form-check-label" for="temperatureRadio_K">
                        Kelvin
                    </label>
                </div>
            </form>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                Weights
            </div>
            <form name="weight" class="col-md-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="weightRadios" id="weightRadio_kg"
                           value="kg"
                           checked onchange="game.changeOption(this, 'weight');">
                    <label class="form-check-label" for="weightRadio_kg">
                        Kilogramm
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="weightRadios" id="weightRadio_lbs"
                           value="lbs" onchange="game.changeOption(this, 'weight');">
                    <label class="form-check-label" for="weightRadio_lbs">
                        Pound
                    </label>
                </div>
            </form>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                Prefered Elemetal naming scheme
            </div>
            <form name="elemental" class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="elementalRadios" id="elementalRadio_name"
                           value="name" onchange="game.changeOption(this, 'elemental');">
                    <label class="form-check-label" for="elementalRadio_name">
                        Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="elementalRadios" id="elementalRadio_long"
                           value="long" onchange="game.changeOption(this, 'elemental');">
                    <label class="form-check-label" for="elementalRadio_long">
                        Long Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="elementalRadios" id="elementalRadio_aze"
                           value="aze"
                           checked onchange="game.changeOption(this, 'elemental');">
                    <label class="form-check-label" for="elementalRadio_aze">
                        AZE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="elementalRadios" id="elementalRadio_aze-short"
                           value="aze-short"
                           checked onchange="game.changeOption(this, 'elemental');">
                    <label class="form-check-label" for="elementalRadio_aze-short">
                        Short AZE
                    </label>
                </div>
            </form>
            <div class="col-md-4">
                <div class="row">Uranium</div>
                <div class="row">Uranium-235</div>
                <div class="row"><span class="aze-main"><span class="aze-span"><sup class="aze">235</sup><br><sub class="aze">92</sub></span>U</span></div>
                <div class="row"><span class="aze-main"><span class="aze-span"><sup class="aze">235</sup><br><sub class="aze">&nbsp;</sub></span>U</span></div>
            </div>
        </div>
    </div>
</div>

