<div class="well">
    <div id="accordion" class="panel-group">
        <div class="panel-heading">
            <h4 class="panel-heading text-center">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#notes-prototype" href="javascript:"
                   class="collapsed">
                    Prototypeversion <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div id="notes-prototype" class="panel-collapse collapse">
            <div class="panel-body">
                <h5>v0.003 <small>(2015/07/08)</small></h5>
                <ul>
                    <li>Fixed some bugs.</li>
                    <ul>
                        <li>Fixed a bug with <b>Oxygen III</b> upgrade.</li>
                    </ul>
                    <ul>
                        <li>Fixed some bugs with the leaderboard.</li>
                    </ul>
                    <ul>
                        <li>Fixed a bug with multiplier buy buttons and cell generation button.</li>
                    </ul>
                </ul>
                <ul>
                    <li>Better UI.</li>
                    <ul>
                        <li>Tabs are now larger.</li>
                    </ul>
                    <ul>
                        <li>Moved resources panel.</li>
                    </ul>
                </ul>
                <h5>v0.002 <small>(2015/07/07)</small></h5>
                <ul>
                    <li>Fixed a lot of bugs.</li>
                    <ul>
                        <li>Especially bugs related to the savegame and the tutorial. But also
                            related to leaderboard.
                        </li>
                    </ul>
                </ul>
                <ul>
                    <li>Added a leaderboard.</li>
                    <ul>
                        <li>New players can't take another player username. For example, if a new
                            player want to take the name <b>TotomInc</b>, he can't because this
                            username is already taken.
                        </li>
                    </ul>
                    <ul>
                        <li><b>Cheaters on the leaderboard will be removed WITHOUT warning!</b></li>
                    </ul>
                </ul>
                <ul>
                    <li>Added patch-notes, everything new will be added here.</li>
                </ul>
                <ul>
                    <li>Added an option to multiple-buy (x1, x10, x100, x1000).</li>
                </ul>
                <ul>
                    <li>Added a new build : water generator.</li>
                </ul>
                <h5>v0.001 <small>(2015/07/05)</small></h5>
                <ul>
                    <li>Prototype version released on reddit (/r/incremental_games) : <a
                            href="https://www.reddit.com/r/incremental_games/comments/3c41z5/universegod_new_prototype/"
                            target="_blank">link to the thread</a>.
                    </li>
                </ul>
                <ul>
                    <li>During the prototype stage, progress can be reset (intentionally) for
                        testing purposes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>