<div class="well">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="checkbox">
                <p class="text-center">
                    <label>
                        <input id="upgrades-checkbox" type="checkbox" onclick="g.u.hide()">
                        Show upgrades bought
                    </label>
                    <!--- Does not work<label>
                        <input id="upgrades-all" type="checkbox" onclick="g.u.onlyBuyable()">
                        Show All upgrades
                    </label>--->
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div id="upgrades-panelbody" class="panel-body"></div>
    </div>
</div>